/*
* this affects the background color and the border
of each section of my resume 
*/
section { 
    background-color: #D6A2A3;
    border: thick solid #772A53;
}

/*
* this affects the body of my entire resume 
*/
body {
    background-color: #F4C87E; 
}

/*
* this affects the title on the banner of my resume 
*/
#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; 
    height: 75%; 
}

/*
* this affects the big header banner and centers the text 
*/
header {
    text-align: center; 
 
}

/*
* this affects the headshot picture on my resume 
*/
#headshot {
    border: thick solid #E87C5D;
    height: 50%; 
    border-radius: 50%; 

}

/*
* this affects each header on each section, centers text, changes font, and underlines text 
*/
.section-header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}

/*
* this affects the banner at the top of the page. 
makes it sticky, changes the color, and takes up the whole width of the page. 
*/
#page-banner {
    top: 0;
    position:sticky;
    width: 100%;  
    background-color: #E87C5D;
    margin-bottom: 10px; 

}

/*
* changes the color on each subsection header 
*/ 
.subsec-header {
    color: #800000; 
}
